<!DOCTYPE html>
<html lang="en" ng-app="dnd">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dungeons and Dragons 4th Edition Knowledge Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="static/vendor/device-mockups/device-mockups.css">

    <!-- Theme CSS -->
    <link href="static/css/new-age.css" rel="stylesheet">

    <!-- bootstrap select styling -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <!-- AngularJS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="static/js/userInputController.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-controller="inputController">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">D&D 4E Knowledge Database</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">Basic Information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Details</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#modal" data-toggle="modal" data-target="#login" ng-show="!loggedIn">Login</a>
                        <a class="page-scroll" ng-show="loggedIn" ng-bind="username"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background:url(static/img/parchment.jpg); background-size: 100% auto">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Welcome to the D&D 4th Edition Knowledge Database. If you don't know where to start, you're in the right place.</h1>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll">Continue</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <img src="static/img/knight.png" class="fit" style="margin: 100px 0px">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center" style="background:url(static/img/tableTexture.jpg); background-size: 100% auto">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">In order to gather the right information, we'll need some data from you.</h2>
                    <h1>Your character is a </h1>

                    <select class="selectpicker" style="width:auto" data-live-search="true" data-style="btn-primary" ng-model="selectedLevel">
                      <option>Level</option>
                      <option ng-repeat="level in possibleLevels">{{ '{{level}}' }}</option>
                    </select>

                    <select class="selectpicker" style="width:auto" data-live-search="true" data-style="btn-primary" ng-model="selectedRace">
                      <option>Race</option>
                      <option ng-repeat="race in possibleRaces">{{ '{{race}}' }}</option>
                    </select>

                    <select class="selectpicker" style="width:auto" data-live-search="true" data-style="btn-primary" ng-model="selectedClass">
                      <option>Class</option>
                      <option ng-repeat="class in possibleClasses">{{ '{{class}}' }}</option>
                    </select>

                    <a href = "#features" id="go" class="btn btn-primary page-scroll" ng-click="getInfo()">Go</a>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features" ng-show='statsEntered'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>D&D 4E Dynamic Table</h2>
                        <hr>
                    </div>
                </div>
            </div>

            <span>As a Level {{ '{{selectedLevel}}' }} {{ '{{selectedRace}}' }} {{ '{{selectedClass}}' }}, you receive the following starting stats:</span>
            <div ng-class="ng-scope">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Source</th>
                            <th>Key Abilities</th>
                            <th>Armor Proficiencies</th>
                            <th>Weapon Proficiencies</th>
                            <th>Implements</th>
                            <th>Bonus to Defense</th>
                            <th>Starting HP</th>
                            <th>HP per Level</th>
                            <th>Surge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-bind="classInfo[0].name"></td>
                            <td ng-bind="classInfo[0].role"></td>
                            <td ng-bind="classInfo[0].source"></td>
                            <td ng-bind="classInfo[0].keystat"></td>
                            <td ng-bind="classInfo[0].armor"></td>
                            <td ng-bind="classInfo[0].weapon"></td>
                            <td ng-bind="classInfo[0].implement"></td>
                            <td ng-bind="classInfo[0].defense"></td>
                            <td ng-bind="classInfo[0].starthp"></td>
                            <td ng-bind="classInfo[0].levelhp"></td>
                            <td ng-bind="classInfo[0].surge"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Features</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td ng-bind-html="features"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </section>

    <div class="cta modal fade" id="login" style="width: 50%; margin: auto">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Login</h2>
                <h4>Logging in allows you to save specific character information for later use!</h4><br>
                <div class="form-group" style="text-align: center">
                    <input style="width: 25%; display: inline" type="input" class="form-control centeredInput" ng-model="username" placeholder="Username">
                    <input style="width: 25%; display: inline" type="password" class="form-control centeredInput" ng-model="password" placeholder="Password">
                    <input type="button" class="btn btn-primary" ng-click="login()" value="Login" data-dismiss="modal">
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>Something wrong or incorrect? Let us know!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="https://twitter.com/@usidoretheblue"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">See you, space cowboy...</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/new-age.js"></script>

    <!-- bootstrap select scripts-->
    <script src="static/vendor/bootstrap-select-1.11.2/js/bootstrap-select.js"></script>
    <script src="static/vendor/bootstrap-select-1.11.2/js/i18n/defaults-en_US.js"></script>







</body>

</html>
